{{!-- <h1>{{list.name}}</h1>

{{#each list}}
    {{#each movies}}

    <ul>
        <li>{{title}}</li>
    </ul>
    {{/each}}
{{/each}} --}}


<div class="container">

    <h2>{{list.name}}</h2>

    <hr>

    <div class="row justify-content-between">
        {{#each list}}

            {{#each movies}}
                <div class="col">
                    <form action="/movie/{{id}}" method="POST">
                        <a href="/movie/{{id}}" class="col-4 card m-2" id="listCard__body--movieList"
                            style="background-image: url('https://image.tmdb.org/t/p/original/{{poster_path}}')">
                            <h5 id="listCard__title">{{title}}</h5>
                        </a>
                    </form>
                </div>
            {{/each}}

        {{/each}}
    </div>


</div>
    <a class="btn btn-dark mt-3" href="/">Back to menu</a>