{{#with movieData}}
<input type="hidden" id="movieID" value="{{movie_ID}}">

<div id="map"></div>
<div class="container" id="movieDetail__container">
    <div id="movieDetail__downSectionContainer" class="row">
        <div class="col-6">/
            <div class="card" style="width: 50rem;">
                <div class="card-body d-flex">

                    <div id="detailCard__body--imageContainer">
                        <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="{{title}} poster image">
                    </div>

                    <div style="height: 100%">
                        <h2>{{title}}</h2>
                        <p>{{overview}}</p>

                        <h3>genres:</h3>
                        <ul>
                            {{#each genres}}
                            <li>{{name}}</li>
                            {{/each}}
                        </ul>
                        <h3>markers:</h3>
                        <ul>
                            {{#each markers}}
                            <li>{{location}}</li>
                            {{/each}}
                        </ul>
                        <a class="btn btn-sm btn-dark" href="/">Back to menu</a>
                        <a class="btn btn-sm btn-dark m-1" href="/movie/search">Search a new movie</a>

                        {{#each ../moviesList}}
                        
                            <form action="/movie/addToList/{{name}}/{{../_id}}" method="POST">
                                <input type="submit" value="Add this movie to {{name}}" class="btn btn-sm btn-danger">
                            </form>

                        {{/each}}
                    </div>

                </div>
            </div>
        </div>

        {{#if ../isLoggedUser}}
        <div class="col-6">
            <form action="/marker/create" method="POST">
                <div style="visibility: hidden;" class="col">
                    <input value="{{title}}" type="text" class="form-control" id="title" name="title">
                </div>
                <div style="visibility: hidden;" class="col">
                    <input value="{{movie_ID}}" placeholder="{{movie_ID}}" type="text" class="form-control"
                        id="movie_ID" name="movie_ID">
                </div>
                <div class="col">
                    <input placeholder="Name your marker" type="text" class="form-control" id="name" name="name">
                </div>

                <div>
                    <label for="latitude" class="form-label">latitude:</label>
                    <input placeholder="latitude" id="latitude" name="latitude" class="form-control">

                    <label for="longitude" class="form-label">longitude:</label>
                    <input placeholder="longitude" id="longitude" name="longitude" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                </div>

                {{!-- <div class="mb-3">
                    <label for="avatar" class="form-label" enctype="multipart/form-data">movieFrame</label>
                    <input type="file" class="form-control" id="avatar" name="avatar">
                </div> --}}

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Add Marker</button>
                </div>
            </form>

        </div>
        {{/if}}
        
        {{#if errorMessage}}

        <div id="errorMessage">
            <p>{{errorMessage}}</p>
        </div>

        {{/if}}

        </form>
    </div>

</div>
{{/with}}
</div>
<script src="/js/mapStyles.js"></script>
<script src="/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMapWithMarkers&key={{mapsKey}}"></script>