{{#with movieData}}

<div id="map"></div>
<div class="container">
    <div class="row">
        <div class="card" style="width: 50rem;">
            <div class="card-body d-flex">

                <div id="detailCard__body--imageContainer">
                    <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="{{title}} poster image">
                </div>

                <div style="height: 100%;">
                    <h2>{{title}}</h2>
                    <p>{{overview}}</p>

                    <h3>genres:</h3>
                    <ul>
                        {{#each genres}}
                        <li>{{name}}</li>
                        {{/each}}
                    </ul>
                    <a class="btn btn-sm btn-dark" href="/">Back to menu</a>
                    <a class="btn btn-sm btn-dark m-1" href="/movie/search">Search a new movie</a>
                </div>

            </div>
        </div>
    </div>
</div>
{{/with}}
<script src="/js/mapStyles.js"></script>
<script src="/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key={{mapsKey}}"></script>