<div class="container" id="movieList__Container--bodyContainer">

    <h1 id="movieList__title">Results of "{{title}}" search</h1>

    <div class="row justify-content-between">
        {{#each movies}}
        <div class="col">
            <form action="/movie/{{id}}" method="POST">
                <a href="/movie/{{id}}" class="col-4 card m-2" id="movieList__listCard--body"
                    style="background-image: url('https://image.tmdb.org/t/p/original/{{poster_path}}')">
                    <h5 id="movieList__cardTitle">{{title}}</h5>
                </a>
            </form>
        </div>
        {{/each}}
    </div>

</div>